* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    height: 200px;

}

button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;

}

.imagem-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;

}

.caixa-mae {
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 100px;
    justify-content: space-around;


}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);


}

p {
    color: white;
    font-size: 20px;
}


.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;

}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.1s ease-in-out;

}

button:hover {
    background: linear-gradient(90deg, rgba(220, 244, 19, 1) 0%, rgba(39, 222, 18, 0.5130427170868348) 55%, rgba(11, 196, 233, 1) 100%);
    font-size: 15px;
    transition: 0.1 color;


}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;


}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;

}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media(max-width:1100px) {
    p {
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .imagem-mario-luigi {
        width: 80vw;
        height: auto;
    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header img {
        display: none;


    }

    .header a {
        font-size: 20px;

    }


}